<br>
<h3>Hedge Funds</h3>
<br>
<h2>Project List</h2>
<div class="container">
  <table class="table table-striped">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Start</th>
      <th>End</th>
      <th>Duration</th>
      <th>Status</th>
      <th>Operations</th>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects">
          <td>{{project.id}}</td>
          <td>{{project.name}}</td>
          <td>{{project.start}}</td>
          <td>{{project.end}}</td>
          <td>{{project.duration}}</td>
          <td>{{project.status}}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteProject(project)">Delete</button>&nbsp; &nbsp;
            <button class="btn btn-primary" (click)="updateproject(project)">Edit</button>&nbsp; &nbsp;
            <button class="btn btn-success" (click)="viewMore(project)">View More</button>
          </td>
        </tr>
      </tbody>
  </table>
  <br>
  <td><button class="btn btn-primary" (click)="createproject()">New Project</button></td>
</div>