<br>
<h3>Hedge Funds</h3>
<br>
<h2>Portfolio List</h2>
<div class="container">
  <table class="table table-striped">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Budget</th>
      <th>Owner</th>
      <th>Projects</th>
      <th>Operations</th>
    </thead>
    <tbody>
      <tr *ngFor="let portfolio of portfolios">
        <td>{{portfolio.id}}</td>
        <td>{{portfolio.name}}</td>
        <td>{{portfolio.budget}}</td>
        <td>{{portfolio.owner}}</td>
        <td>{{portfolio.projects}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteproject(project)">Delete</button>&nbsp; &nbsp;
          <button class="btn btn-primary" (click)="updateproject(project)">Edit</button>&nbsp; &nbsp;
          <button class="btn btn-success" (click)="viewProject(portfolio)">View Project(s)</button>
        </td>
      </tr>
    </tbody>
  </table>
  <td><button class="btn btn-primary" (click)="createportfolio()">New Portfolio</button></td>
</div>