body {
   background-image: url("./assets/bgimage.jpg");
   background-repeat: no-repeat;
   background-size: cover;
 }

 th{
   color: whitesmoke;
}

td{
   color: whitesmoke;
}

h2{
   color: whitesmoke;
}

h3{
   color: whitesmoke;
}
label {
   color: whitesmoke;
}